.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 50px 0px;
}
.card{
    border: 2px solid rgb(43, 42, 42);
    border-radius: 5px;
    height: 550px;
    width: 390px;
    margin: 0px 10px;
    padding: 10px;
}
.card-img img{
    height: 400px;
    width:380px;
    border-radius: 50%;
    border: 2px solid aqua;
}